:root {
    --color-primary: #4B69FD;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

.main-title {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.buttons-switch {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 10px;
    right: 20px;
    justify-content: space-between;
}

.language-button,
.theme-button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.language-button:hover,
.theme-button:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.theme-button {
    padding: 6px 12px;
    font-size: 12px;
}

/* Seção de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

.input-name {
    width: 70%;
    padding: 10px;
    border: 2px solid var(--color-tertiary);
    border-radius: 25px 0 0 25px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.input-name:focus {
    border-color: var(--color-button);
    outline: none;
}

.button-add {
    width: 30%;
    background-color: var(--color-button);
    color: var(--color-white);
    border-radius: 0 25px 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-add:hover {
    background-color: var(--color-button-hover);
    transform: scale(1.05);
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: #05DF05;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* Botão de sortear título */
.button-container {
    width: 300px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-draw {
    display: flex;
    align-items: center;
    width: 80%;
    padding: 8px 16px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 14px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-draw img {
    margin-right: 10px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
    transform: scale(1.05);
}